<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Boo</string>
			<key>user</key>
			<string>BooDev</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>Enabled</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>APPEARANCE</string>
			<key>detail</key>
			<string>ARPSubPrefsListController</string>
			<key>ARPSub</key>
			<string>Appearance</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AIRPODS_PRO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>USE_CUSTOM_ANIMATION</string>
			<key>key</key>
			<string>UseProCustomAnim</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>CUSTOM_ANIM</string>
			<key>key</key>
			<string>ProAnimName</string>
			<key>detail</key>
			<string>ARPThemeListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>LEGACY_SUPPORT</string>
			<key>key</key>
			<string>ProLegacy</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AIRPODS_WIRELESS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>USE_CUSTOM_ANIMATION</string>
			<key>key</key>
			<string>UseApwCustomAnim</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>CUSTOM_ANIM</string>
			<key>key</key>
			<string>ApwAnimName</string>
			<key>detail</key>
			<string>ARPThemeListController</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AIRPODS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>USE_CUSTOM_ANIMATION</string>
			<key>key</key>
			<string>useAPCustomAnim</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>Default</string>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>CUSTOM_ANIM</string>
			<key>key</key>
			<string>ApAnimName</string>
			<key>detail</key>
			<string>ARPThemeListController</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HAPTICS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>label</key>
			<string>USE_HAPTIC</string>
			<key>key</key>
			<string>hapticFeedback</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.boo.airport</string>
			<key>key</key>
			<string>hapticStyle</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LIGHT</string>
				<string>MEDIUM</string>
				<string>HEAVY</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>com.boo.airport/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>AirPort by Boo</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESPRING</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESTORE_DEFAULTS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>SOURCE_CODE</string>
			<key>url</key>
			<string>https://github.com/Boo-Dev/AirPort</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>DONATE_TITLE</string>
			<key>subtitle</key>
			<string>DONATE_SUBTITLE</string>
			<key>url</key>
			<string>https://boodev.me/donate</string>
		</dict>

	</array>
	<key>title</key>
	<string>AirPort</string>
</dict>
</plist>